@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Roboto, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #c0c0c0;
  background-color: #0a122a;
  font-synthesis: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Koulen";
  color: #fff;
}

#root { 
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
}

html,
body {
  height: 100%; /* Ensure the height of the HTML and body elements is 100% */
  margin: 0;
}


body {
  background-color: #0a122a;
  position: relative;
}

nav {
  background-color: #0a122a;
  color: white;
}

.container {
  flex: 1; /* Allows the container to grow and fill available space */
  display: flex;
  flex-direction: column; /* Ensures child elements stack vertically */
}

.border-bottom-styling {
  border-bottom: 2px grey solid;
}

.nav--shopping-cart {
  position: relative;
}

.nav--shopping-cart-count {
  position: absolute;
  border-radius: 50%;
  top: 8px;
  width: 20px;
  height: 20px;
  left: 15px;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  align-content: center;
  justify-content: center;
  z-index: 1;
  line-height: 16px;
  font-size: 13px;
  font-weight: 600;
  transition: all 0.2s ease-in-out;
  background-color: #00ffff;
  color: #7d3c98;
}

.hamburger-width {
  position: fixed;
  top: 0px;
  left: 0;
  width: 100%;
}

.spacer {
  margin-bottom: 50px;
}

.img-container {
  overflow: hidden; /* Ensures the zoomed-in part doesn't spill outside */
  background-color: black; /* Sets container background for better contrast */
}

.product-image {
  transition: transform 0.3s ease; /* Smooth zoom effect */
  cursor: pointer;
}

.img-container:hover .product-image {
  transform: scale(1.1); /* Zooms in on the image */
}

.title {
  font-size: 2rem;
}

.gradient-border {
  border: 4px solid;
  border-image: linear-gradient(to right, #00ffff 0%, #7d3c98 100%) 1;
  margin-bottom: 5px;
}

.gradient-border-bottom {
  border-bottom: 3px solid;
  border-right: 3px solid;
  border-image: linear-gradient(to right, #00ffff 0%, #7d3c98 100%) 1;
  margin-bottom: 5px;
}

.gradient-border-product-card {
  border-bottom: 3px solid;
  border-image: linear-gradient(to right, #00ffff 0%, #7d3c98 100%) 1;
}

.gradient-border-bottom:hover {
  box-shadow: 0px 0px 0 #ad276a, -3px -3px 0 #00ffff;
}
.gradient-border-bottom-pink {
  border-image: linear-gradient(to right, #afff33 0%, #7d3c98 100%) 1;
  border-bottom: 3px solid;
  border-right: 3px solid;
  margin-bottom: 5px;
}

.gradient-border-bottom-pink:hover {
  box-shadow: 0px 0px 0 #ad276a, -3px -3px 0 #afff33;
}

.gradient-border-top {
  border-image: linear-gradient(to right, #ffff00 0%, #7d3c98 100%) 1;
  border-top: 4px solid;
  margin-bottom: 5px;
}

.gradient-border-bottom-yellow {
  border-image: linear-gradient(to right, #ffff00 0%, #7d3c98 100%) 1;
  border-bottom: 4px solid;
  margin-bottom: 5px;
}

.gradient-border-bottom-top {
  border-image: linear-gradient(to right, #ffff00 0%, #7d3c98 100%) 1;
  border-top: 4px solid;
  margin-bottom: 5px;
}

.gradient-bg-color {
  background-image: linear-gradient(to right, #00ffff 0%, #7d3c98 100%);
}

.gradient-border-side-menu {
  border-image: linear-gradient(to right, #ffff00 0%, #7d3c98 100%) 1;
  border-bottom: 4px solid;
  margin-bottom: 5px;
}

.gradient-border-side-menu:hover {
  box-shadow: 0 0 5px #ffffff, 0 0 10px #000000;
}

.max-height-cards {
  height: 200px;
}

#purchase-completed {
  opacity: 0;
  animation: complete 1s ease forwards;
  animation-delay: 3s; /* Starts after the #animation g animation is done */
}

/* Cart modal */
.cart-modal {
  position: absolute;
  right: 0;
}

.btn-hide {
  padding: 10px 20px;
  background-color: #ff6347; /* Tomato color */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.btn-hide:hover {
  background-color: #ff4500; /* Darker red on hover */
}

.btn-checkout:hover {
  background-image: linear-gradient(135deg, #afff33, #00ffff);
}


footer {
  background-color: #0a122a; 
  text-align: center;
  padding: 10px 0;
}

.error-message {
  display: none;
}

/* Error Messages */

input:invalid[focused="true"] {
  border: 1px solid red;
}

input:invalid[focused="true"] ~ .error-message {
  display: block;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate(20%);
  }
  to {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes dropIn {
  20% {
    opacity: 0;
    transform: translateY(-20%);
  }
  30%,
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes complete {
  from {
    opacity: 0;
    transform: translate(20%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

#skeleton {
  animation: fadeInUp 3s ease;
}

#animation g {
  opacity: 0;
  animation: dropIn 4s ease forwards infinite;
  animation-delay: calc(var(--order) * 200ms);
}
